<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/game.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/game.css">
    </head>
    <body>
        <div class="controls-container">
            <table id="palette-table" class="palette-table" border="1"></table>
            <span id="cooldown-timer" class="cooldown-timer"></span>
        </div>

        <div>
            <canvas id="main-canvas"></canvas>
        </div>

        <script type="text/javascript">
            const paletteConfig = [
                {{range $color := .Config.PaletteColors}}
                    "{{$color}}",
                {{end}}
            ];

            const webSocketInstances = [
                {{range $instance := .Config.WebSocketAppAddresses}}
                    "{{$instance}}",
                {{end}}
            ];

            const paletteTable = document.getElementById("palette-table");
            const paletteWidget = new PaletteWidget(paletteTable, paletteConfig);
            paletteWidget.fillPaletteTable();

            const timerElem = document.getElementById("cooldown-timer");
            const timerWidget = new TimerWidget(timerElem);

            const canvas = document.getElementById("main-canvas");
            const controller = new Controller(
                {
                    CanvasRows: {{.Config.CanvasRows}},
                    CanvasCols: {{.Config.CanvasCols}},
                    CooldownSeconds: {{.Config.CooldownSeconds}},
                    WebSocketAppAddresses: webSocketInstances,
                },
                "{{.SessionToken}}",
                canvas,
                paletteWidget,
                timerWidget,
            );
        </script>
    </body>
</html>
