<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="/static/common.css" type="text/css">
        <title>ShittyPixels</title>
    </head>
    <body>
        <div class="centered-box">
            {{if .User}}
                <p>
                    You are logged in as <i>{{.User}}</i>.
                </p>
                <a href="/canvas" class="centered-box-item">Canvas</a><br>
                <a href="/logout" class="centered-box-item">Logout</a><br>
            {{else}}
                <a href="/register" class="centered-box-item">Register</a><br>
                <a href="/login" class="centered-box-item">Login</a><br>
            {{end}}
        </div>
    </body>
</html>
